@import 'variables';

$gray-border: #cccccc;

ul {
  &.ui-table-view {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0 10px;
      border-bottom: 1px solid $gray-border;
      line-height: 50px;
      height: 50px;

      &.no-results {
        border-bottom: 0;
        text-align: center;
      }
      &.disclosure {
        background-image: url(../assets/disclosure.png);
        background-position: 96% center;
        background-size: 10px;
        background-repeat: no-repeat;
      }
      &.no-border {
        border: 0;
      }
    }
    &.auto-height {
      li {
        height: auto;
        line-height: 1.5rem;
      }
    }
    &.no-padding {
      li {
        padding: 0;
      }
    }
    &.border-top {
      /*border-top: 1px solid $gray-border;*/
    }
  }
}

header {
  background-color: $nav-bar-bg-color;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 65px;
  padding-top: 20px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  border-bottom: 1px solid rgba(128,128,128,0.3);

  h1 {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 45px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: $nav-bar-title-color;
  }

  a {
    text-decoration: none;
  }

  .left-button,
  .right-button {
    margin: 0;
    line-height: 45px;
    font-weight: 300;
    font-size: 1.6rem;
    color: $nav-bar-text-color;
  }
  .left-button {
    position: absolute;
    z-index: 10;
    left: 10px;
  }
  .right-button {
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 10px;
  }
  .back-button {
    background-image: url(../assets/left-arrow.png);
    background-position: left center;
    background-size: 11px 20px;
    background-repeat: no-repeat;
    padding-left: 1.7rem;
  }
  .group {
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 10px;
    .left-button,
    .right-button {
      position: static;
    }
    .right-button {
      margin-left: 5px;
    }
    .left-button {
      margin-right: 5px;
    }
  }
  .logo {
    max-height: 3.5rem;
  }
}

