@import 'variables';

html, body, p, ul, li, button, select, textarea, input, h1, h2, h3, h4, h5, button, .button, div {
  color: $text-color;
}

a {
  color: $link-color;
}

li, p {
  font-size: 1.3rem;
  line-height: 1.4rem;
}
