{{#modal-dialog action="close"}}
  <div class="text-center">
    <p>
      Help stuff here
    </p>
    <button class="full" {{action "close"}}>
      Ok, got it
    </button>
  </div>
{{/modal-dialog}}

