<header>
  <div class="back-button left-button" {{action 'back'}}>
    Back
  </div>
  <h1>
    {{title}}
  </h1>
</header>
<div id="main">
  <div id="scrollable">
    <div class="content-padded">
      <p>
        {{body}}
      </p>
    </div>
  </div>
</div>

