<header>
  <h1>
    EmberCDV App
  </h1>
</header>
<div id="main">
  <div id="scrollable">
    <h2>With click actions</h3>
    <ul class="ui-table-view">
      {{#each}}
        <li {{action 'goToPage' this}} class="disclosure">
          {{title}}
        </li>
      {{/each}}
    </ul>
    <br>
    <h2>With link-to-animated helper</h3>
    <p>
    </p>
    <ul class="ui-table-view">
      {{#each}}
        {{#link-to-animated 'page' this animations="main:slideLeft" tagName="li" class="disclosure"}}
          {{title}}
        {{/link-to-animated}}
      {{/each}}
    </ul>
    <div class="content-padded text-center">
      <a href="#" {{action 'openModal' 'help'}}>
        Help
      </a>
    </div>
  </div>
</div>

