* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  input, textarea {
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
  }
}

html {
  // http://gregrickaby.com/using-the-golden-ratio-and-rems/
  font-size: 62.5%;
}

body {
  margin: 0;
}

.modal {
  position: relative;
  margin: 45% auto;
  width: 80%;
  padding: 2rem 1rem;
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 1rem 1.5rem 2rem;
  }
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}
