$bg-color:             #F0F4F5;

$nav-bar-bg-color:     #2E4350;
$nav-bar-title-color:  #FFFFFF;
$nav-bar-text-color:   #FFFFFF;

$link-color:           #F15D39;
$text-color:           #000000;

$modal-bg-color:       #DEDEDE;
